@media only screen and (min-width: 0) and (max-width: 375px) {
.Sliderstyle{
    max-width: 260px !important;
}
}
@media only screen and (min-width: 425px) and (max-width: 768px) {
.Sliderstyle{
    max-width: 320px !important;
}
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
.Sliderstyle{
    width: 310px !important;
    

}
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .Sliderstyle{
        width: 330px !important;
    }
}
@media only screen and (min-width: 1441px) and (max-width: 2560px) {
    .Sliderstyle{
        width: 300px !important;
    }
}

.items{
    height: 80px;
}
.c_header{
    height: 80px;
}