<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/style3.css">
    <link rel="stylesheet" href="../style/styles.css">
    <link rel="stylesheet" href="../css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../css/bootstrap-v4-rtl-master/bootstrap-rtl.min.css" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
</head>

<body>


    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light flex-row-reverse">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


        <form class="container-fluid justify-content-start">
            <button class="btn btn-outline-success me-2 pb-2 pt-2" type="button"><a
                        href="colorlib-regform-5/index.html">ثبت نام</a></button>
            <button class="btn btn-outline-success me-2 pb-2 pt-2 mr-2" type="button"><a
                        href="Login_v11/index.html">ورود</a></button>
        </form>
    </nav>
    <!-- nav bar -->

    <!-- -------------------------- -->
    <div class="container-fluid ">

        <!-- items -->
        <div class="Travel-item d-flex flex-row-reverse  col-lg-12  justify-content-around flex-wrap">

            <a href="">
                <div class="d-inline-flex w-100 h-100 align-items-center ">
                    <p class="mr-4 m-0 py-3">هتل ها</p>
                    <div class="color"></div>
                    <svg viewBox="0 0 24 24" width="1em" height="1em" class="_2HBN-k68 _2JndpOur bg-primery" "><path d=" M20.587 12.139V4.144H3.424v7.986A3.805 3.805 0 002 15.097v4.755h1.906v-1.905h16.188v1.91H22v-4.76a3.804 3.804 0 00-1.413-2.958zm-1.906-6.09V8.83a5.048
                        5.048 0 00-2.865-.876c-1.565 0-2.952.69-3.816 1.749-.864-1.059-2.252-1.749-3.818-1.749-1.07 0-2.056.324-2.851.866V6.049h13.35zm-.258 5.248c-.077-.005-.155-.012-.234-.012h-4.971c.438-.838 1.437-1.426 2.598-1.426 1.168 0 2.173.593 2.607
                        1.438zm-7.643-.012H5.812c-.081 0-.159.007-.238.012.434-.844 1.438-1.438 2.606-1.438 1.163 0 2.163.588 2.6 1.426zM3.906 16.04v-.943c0-1.051.855-1.905 1.906-1.905h12.376c1.051 0 1.905.854 1.905 1.905v.943H3.906z " ></path></svg>
                </div>

            </a>

            <a href=" ">
                <div class=" d-inline-flex w-100 h-100 align-items-center d-flex ">
                    <p class=" mr-4 mr-4 m-0 py-3 " ">اجاره خانه</p>
                    <svg viewBox="0 0 24 24 " width="1em " height="1em " class="_2HBN-k68 _2JndpOur ">
                            <path
                                d="M12.001 2L2.097 8.6V22h19.807V8.6L12.001 2zm7.922 18.021H4.077V9.66l7.924-5.28 7.922 5.28v10.361z ">
                            </path>
                            <path
                                d="M9.036 10.627a2.973 2.973
                        0 00-2.97 2.968 2.974 2.974 0 002.97 2.971 2.964 2.964 0 002.788-1.98h2.152v1.979h1.98v-1.979h1.982v-1.979h-6.115a2.965 2.965 0 00-2.787-1.98zm0 3.959a.99.99 0 11-.002-1.978.99.99 0 01.002 1.978z ">
                            </path>
                        </svg>
                </div>

            </a>
            <a href=" ">
                <div class="d-inline-flex w-100 h-100 align-items-center ">
                    <p class="mr-auto mx-auto w-75 mr-4 m-0 py-3" mt-1 t pl-3 px-3 ">مراحل انجام کار</p>
                    <svg viewBox=" 0 0 24 24 " width=" 1em " height=" 1em " class=" _2HBN-k68 _2JndpOur "><circle cx=" 14.001 " cy=" 8.502 " r=" 1 "></circle><circle cx=" 14.001 " cy=" 11.989 " r=" 1 "></circle><circle cx=" 14.001 " cy=" 15.497
                        " r=" 1 "></circle><path d=" M20 6.509v1.467a4.505 4.505 0 00-2.499 4.029A4.508 4.508 0 0020 16.033v1.457H4v-1.457a4.506 4.506 0 002.497-4.028A4.505 4.505 0 004 7.976V6.509h16m2-2H2v4.997a2.498 2.498 0 010 4.998v4.986h20v-4.986c-1.381
                        0-2.498-1.119-2.498-2.499S20.619 9.506 22 9.506V4.509z "></path></svg>
                </div>

            </a>
            <a href=" ">
                <div class=" d-inline-flex w-100 h-100 align-items-center ">
                    <p class=" mr-3 mr-4 m-0 py-3 " ">رستوران ها</p>
                    <svg viewBox="0 0 24 24 " width="1em " height="1em " class="_2HBN-k68 _2JndpOur ">
                        <path
                            d="M18.753 21.459l-5.502-5.504-2.85 2.851-1.663-1.662-4.315 4.315-1.343-1.344 4.316-4.316-4.004-4.003A4.718 4.718 0 012 8.438c0-1.269.494-2.461
                        1.392-3.358l.834-.835 7.362 7.362.866-.866c-1.099-1.719-.777-3.972.912-5.661l2.538-2.538 1.343 1.344-2.538 2.537c-.785.787-1.254 1.903-.852 2.916l4.423-4.422 1.343 1.344-4.429 4.428c.31.13.64.188.977.164.646-.043 1.299-.364 1.838-.904a630.937
                        630.937 0 002.642-2.653L22 8.631s-1.241 1.255-2.647 2.66c-.865.865-1.951 1.383-3.057 1.456a4.027 4.027 0 01-2.501-.66l-.864.862 7.166 7.166-1.344 1.344zM4.291 6.995A2.835 2.835 0 003.9 8.438c0 .762.296 1.478.835 2.015l5.666 5.667 1.506-1.507-7.616-7.618z ">
                        </path>
                    </svg>
                </div>

            </a>
            <a href=" ">
                <div class="d-inline-flex w-100 h-100 align-items-center ">
                    <p class="mr-4 mr-4 m-0 py-3" ">انتقادات</p>
                    <svg viewBox=" 0 0 24 24 " width=" 1em " height=" 1em " class=" _2HBN-k68 _2JndpOur "><path d=" M1.998 6.999a3 3 0 013.004-2.998h6v2h-6a1 1 0 00-1.004.998v12.003c0 .55.448.999 1.004.999h11.996c.559 0 1.004-.451 1.004-.999v-6.003h2v6.003a3.002
                        3.002 0 01-3.004 2.999H5.002a3.001 3.001 0 01-3.004-2.999V6.999z "></path><path d=" M18.545 3.999c-.42 0-.855.174-1.18.496l-.061.06 2.129 2.129.127-.126a1.498 1.498 0 00-.238-2.316l-.008-.004-.008-.006a1.3 1.3 0 00-.761-.233zm-.525
                        4.098l-2.131-2.13-5.041 5.026-.6 2.752 2.736-.616 5.036-5.032zm-2.067-5.018a3.69 3.69 0 012.592-1.08c.65 0 1.316.182 1.904.59a3.495 3.495 0 01.523 5.383l-6.984 6.98-4.49 1.012a1.037 1.037 0 01-.181.03c-.054.004-.101.004-.104.004-.734
                        0-1.357-.678-1.183-1.469l.988-4.537 6.935-6.913z "></path></svg>
                </div>

            </a>
            <a href=" ">
                <div class=" d-inline-flex w-100 h-100 align-items-center ">
                    <p class=" mr-3 mr-4 m-0 py-3 " ">فرم های سفر</p>
                    <svg viewBox="0 0 24 24 " width="1em " height="1em " class="_2HBN-k68 _2JndpOur ">
                        <path
                            d="M2 21.257h2.118l3.271-3h10.604l.02-11.513H2v14.513zM4 8.744h12.009l-.013 7.512H6.61L4 18.65V8.744z ">
                        </path>
                        <path d="M7.004 2.743v2h12.995v8.512H22V2.743z "></path>
                    </svg>
                </div>

            </a>
            <a href=" ">
                <div class="d-inline-flex w-100 h-100 align-items-center ">
                    <p class="mr-4 mr-4 m-0 py-3">پرواز ها</p>
                    <svg viewBox=" 0 0 24 24 " width=" 1em " height=" 1em " class=" _2HBN-k68 _2JndpOur "><path d=" M21.297 2.69C20.83 2.225 20.199 2 19.514 2c-1.005 0-2.132.481-3.036 1.387L14.41 5.455 6.144 4.082 2.697 7.528l6.536 3.105-1.028 1.026-3.44-.684-2.758
                        2.757L10.274 22l2.758-2.758-.684-3.442 1.026-1.025 3.109 6.541 3.447-3.447-1.379-8.271 2.067-2.069c1.524-1.524 1.827-3.69.679-4.839zm-2.056 3.459l-2.068 2.068-.71.71.165.99 1.214 7.282-.784.784-1.923-4.046-1.187-2.495-1.953 1.953-1.026
                        1.025-.737.738.203 1.021.48 2.42-.641.642-5.509-5.51.641-.643 2.42.482 1.021.202.737-.737 1.027-1.025 1.954-1.955-2.496-1.186-4.04-1.918.784-.784 7.278 1.208.988.165.709-.708 2.067-2.068c.603-.601 1.251-.815 1.658-.815.131 0 .305.021.403.119.248.249.181
                        1.226-.675 2.081z "></path></svg>
                </div>

            </a>

        </div>
        <!-- items -->

        <!-- header -->
        <h1 class=" Header ">جاده چالوس</h1>

        <!-- header -->

        <!-- photo -->
        <div class=" d-flex flex-wrap Img justify-content-center">
            <img class="img-fluid flex-row  col-lg-6 col-md-4 col-xs-8" src="../img/jade chalos/01.jpg " alt=" ">
            <div class="d-flex flex-column  col-lg-3 col-md-3 col-xs-12">
                <img class="img-fluid  " src="../img/jade chalos/WhatsApp Image 2020-12-07 at 15.15.11 (1).jpeg" alt=" ">
                <img class="img-fluid  " src="../img/jade chalos/WhatsApp Image 2020-12-07 at 15.15.11.jpeg " alt=" ">

            </div>


        </div>


        <!-- photo -->

        <div class="content Co-1">
            <p class="text-justify container">
                جاده چالوس، با نام رسمی جاده ۵۹، یکی از مهمترین جاده‌های دسترسی به شمال ایران برای مردم تهران و کرج است که از میان شهر کرج در استان البرز شروع و به شهر چالوس در مازندران وصل می‌شود. برخی این جاده را یکی از زیباترین جاده‌های جهان می‌دانند. محور چالوس -
                کرج از بی نظیرترین مناظر و چشم‌اندازهای بکر و طبیعی و از پرطرفدارترین مسیرهای منتهی به شمال کشور می‌باشد که همین امر گاهی سبب ترافیک‌های سنگین در تعطیلات می‌شود.[نیازمند منبع] این جاده یکی از جاده‌های پر حادثۀ کشور است
            </p>
            <h1 class="text-right text-center py-5">ساخت جاده چالوس</h1>
            <p class="text-justify container">
                تا اواخر دوره قاجار، جاده‌ای بین کرج - چالوس وجود نداشته و تنها یک مسیر خاکی و مالرو، راه دسترسی به روستاهای این منطقه را تشکیل می‌داده اما به گونه‌ای نبود که ارتباط دهنده شمال و جنوب کشور باشد. این جاده در دوران پادشاهی رضاشاه و با دستور وی در سال ۱۳۱۲
                مورد بهره‌برداری قرار گرفت. از این زمان به بعد، انواع رستوران‌ها و واحدهای اقامتی و پذیرایی در کنار این جاده شکل گرفت و با ساخت سد امیر کبیر (سد کرج) در سال ۱۳۴۰ به جاذبه‌ها و زیبایی‌های این جاده افزوده شد و در اندک زمانی این جاده به یکی
                از تفریحگاه‌های مهم گردشگری ایران تبدیل شد. به نقل از گفته‌های شفاهی از مردم قدیم، کارگران را برای کندن این تونل در دل کوه (چون کندن تونل کندوان آنهم بدون تجهیزات کار بسیار سخت و دشواری بود) با یک سکه پنج ریالی که در آن زمان ارزشمند بود
                تشویق می‌کردند و گفته می‌شود به ازای هر کلنگ پول داده می‌شده‌است. ساخت تونل کندوان از اردیبهشت ماه سال ۱۳۱۴ آغاز شد و ساخت در تاریخ ۲۷ اردیبهشت ۱۳۱۷ به پایان رسید، طول تونل به مسافت یک هزار و ۸۸۶ متر و عرض پنج الی هفت و ارتفاع شش متر است،
                باین تونل ۱۳ کیلومتر از مسیر مرکز کرج به چالوس کاسته شد چون پیش از این برای طی این مسیر باید کوه دور زده می‌شد. این جاده در دامنه سلسله جبال البرز مرکزی از دوره گذشته ساخته شده‌است و امکانات و تأسیسات و اماکن گردشگری تفریحی و ورزشی که
                در حاشیه آن ساخته شده پس از این دوره بوده‌است که بعدها نیز عنوان چهارمین جاده زیبای جهان را کسب کرد.[۳] این جاده قطر رشته‌کوه‌های البرز را می‌پیماید. برای ساخت این جاده تونل‌ها و پل‌های طولانی بسیاری ساخته شده که با توجه به زمان ساخت آن‌ها
                در دوره رضاشاه پهلوی کار و رنج زیادی لازم داشته‌است. بیشتر سفرهای گردشگری مردم تهران به کرانه‌های دریای خزر به‌ویژه در تابستان از طریق همین جاده صورت می‌گیرد. اما به علت اینکه طراحی آن در گذشته انجام گرفته‌است، برای سرعتهای بالا مناسب
                نیست.
            </p>
        </div>
    </div>
    <!-- footer -->
    <footer class="footer bg-dark ">
        <div class="container ">
            <div class="row ">
                <ul class="pt-4 col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 text-right ">
                    <li class="list-item list-unstyled text-right ">
                        <a href="# " class="nav-link active text-light pb-4 item-header text-nowrap ">راه های ارتباط باما</a>
                    </li>
                    <li class="list-item list-unstyled text-right under-line ">
                    </li>
                    <li class="list-item pb-2 pt-3 list-unstyled ">
                        <a href="# " class="nav-link text-white text-nowrap "> شماره تماس ثابت</a>
                    </li>
                    <li class="list-item pb-2 list-unstyled ">
                        <a href="# " class="nav-link text-white text-nowrap ">شماره تلفن</a>
                    </li>
                    <li class="list-item pb-2 list-unstyled ">
                        <a href="# " class="nav-link text-white text-nowrap ">ادرس . . .</a>
                    </li>
                </ul>
                <ul class="pt-4 col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 text-right ">
                    <li class="list-item list-unstyled text-right ">
                        <a href="# " class="nav-link active text-light pb-4 item-header text-nowrap ">سایت های مرتبط</a>
                    </li>
                    <li class="list-item list-unstyled text-right under-line ">
                    </li>
                    <li class="list-item pb-2 pt-3 list-unstyled ">
                        <a href="# " class="nav-link text-white text-nowrap ">شرایط استفاده از وب</a>
                    </li>
                    <li class="list-item pb-2 list-unstyled ">
                        <a href="# " class="nav-link text-white text-nowrap ">کد های کوتاه</a>
                    </li>
                    <li class="list-item pb-2 list-unstyled ">
                        <a href="# " class="nav-link text-white text-nowrap ">اتاق مطبوعات</a>
                    </li>
                </ul>
                <ul class="pt-4 col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-right ">
                    <li class="list-item list-unstyled text-right ">
                        <a href="# " class="nav-link active text-light pb-4 item-header text-nowrap ">در باره ی ما</a>
                    </li>
                    <li class="list-item list-unstyled text-right under-line ">
                    </li>
                    <li class="list-item pb-2 pt-3 list-unstyled ">
                        <a href="# " class="nav-link text-white text-nowrap ">نحوه ی مشارکت با ما</a>
                    </li>
                    <li class="list-item pb-2 list-unstyled ">
                        <a href="# " class="nav-link text-white text-nowrap ">نحوه ی عضویت</a>
                    </li>
                    <li class="list-item pb-2 list-unstyled ">
                        <a href="# " class="nav-link text-white text-nowrap ">نحوه ی سرمایه گذاری</a>
                    </li>
                </ul>
            </div>
            <hr class="bg-light ">
            <div class="row ">
                <ul class="navbar-nav d-flex flex-row-reverse mx-auto ">
                    <li class="nav-item ">
                        <a href="# " class="nav-link mx-3 "><i class="fab fa-telegram icon-footer "></i></a>
                    </li>
                    <li class="nav-item ">
                        <a href="# " class="nav-link mx-3 "><i class="fab fa-instagram icon-footer "></i></a>
                    </li>
                    <li class="nav-item ">
                        <a href="# " class="nav-link mx-3 "><i class="fab fa-facebook icon-footer "></i></a>
                    </li>
                    <li class="nav-item ">
                        <a href="# " class="nav-link mx-3 "><i class="fab fa-twitter icon-footer "></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- footer -->
</body>
<script src=" ../js/jquery-3.3.1.min.js " />
<script src=" ../js/bootstrap.min.js " />

</html>